extends layout

block content
    link(rel='stylesheet', href='/stylesheets/bio.css')

    .greeting-content

        .greeting-inner
      
            .greeting
                span Hi
                span.text-color-b1 , 
                span I
                span.text-color-b1 '
                span m Ben Remnant
            
            .greeting-subtitle 
                span Front 
                span.text-color-b1 & 
                span back end 
                br.phone-only
                span web developer
          
        .read-more.no-select(onclick="scrollDown()")
            span.no-select.read-more-text Scroll to read more
            br
            br
            .glyphicon.glyphicon-menu-down.no-select


    .bio-content
        .bio-left
            .bio-photo
                .bio-photo-inner
            .bio-name Ben Remnant
            .bio-profession 
                span Front 
                span.text-color-b1 & 
                span back end 
                span web developer
                
        .bio-right
        
            .bio-right-nav
                .bio-right-nav-button.selected(id="about") About me
                .bio-right-nav-button(id="history") My Recent History
                .bio-right-nav-button(id="software") Sofware Development Ability
                
                
            .bio-desc.bio-about
                span.bio-desc-title About Me
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar blandit leo vitae aliquet. Suspendisse lacinia ultrices purus vitae posuere. Vivamus varius iaculis turpis, eleifend mollis sem consequat at. Nam sit amet elementum lorem, ut facilisis ex. Donec maximus egestas facilisis. 
                br
                br
                span Nulla leo ante, gravida ut ullamcorper at, suscipit sed ante. Integer dignissim accumsan erat quis egestas. Aenean lacinia, quam eget efficitur blandit, ante ex interdum dui, vitae mattis orci arcu non diam. Aenean semper malesuada eros, at tincidunt lectus vehicula non.
                br
                br
                span Pellentesque consequat odio sit amet ante malesuada, a sagittis mauris vulputate.
                
            .bio-desc.bio-history
                span.bio-desc-title My Recent History
                span Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur faucibus consequat fringilla. Donec finibus varius sagittis. Suspendisse sollicitudin, leo ut finibus iaculis, turpis odio hendrerit mi, sit amet volutpat ex ante fermentum sem. 
                br
                br
                span In commodo, eros id tincidunt laoreet, neque ante pretium est, eu pulvinar purus augue elementum mi. Nullam eget rutrum nulla. Phasellus sed lacus nec est convallis condimentum. Praesent sodales enim turpis, eget ullamcorper lectus volutpat id.
                
            .bio-desc.bio-software
                span.bio-desc-title Sofware Development
                span Sed sit amet nisl ante. Nullam vel velit maximus, fringilla sapien eu, efficitur metus. Vestibulum tempor molestie justo id fringilla. Quisque nec justo mauris. Sed id ante eget dolor malesuada vulputate. Maecenas sit amet elementum urna. Nam et euismod lectus. 
                
        
    script.
    
        // ====Page Setup====
        
        // Select first bio nav button and display its panel
        $("#about").css('color', 'var(--b1)');
        $(".bio-about").css('display', 'block');
    
    
        // ====Bio Nav====
        
        // Clicked a bio nav button
        $('.bio-right-nav-button').click(function() {
            // Clear last selection
            $('.bio-right-nav-button').css('color', 'var(--g1)');
            $(".bio-desc").css('display', 'none');
            // Select this bio nav button and display its panel
            $(this).css('color', 'var(--b1)');
            if($(this).attr('id') == 'about') {
                $(".bio-about").css('display', 'block');
            } else if($(this).attr('id') == 'history') {
                $(".bio-history").css('display', 'block');
            } else if($(this).attr('id') == 'software') {
                $(".bio-software").css('display', 'block');
            }
        });
        
        
        // ====Other====
        
        // Add custom scroll
        window.addEventListener('wheel', function(event) {
            event.preventDefault();
            if(scrollReady){
                if(event.deltaY < 0 && scrollPos != 0) {
                    scrollUp();
                } else if(event.deltaY > 0 && scrollPos != scrollMax) {
                    scrollDown();
                }
            }
        });
      
        // Make read more cursor hover up and down
        function levitate(id) {
            $(id).css('transform', 'translate(0px, -2px)');
            setTimeout(()=>{levitateR(id);}, 400);
        }
        function levitateR(id) {
            $(id).css('transform', 'translate(0px, 2px)');
            setTimeout(()=>{levitate(id);}, 400);
        }
        levitate(".glyphicon-menu-down");
        levitate(".glyphicon-menu-up");