doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/resume.css')

  body
        
        page
            .title-container
                .picture
                .name
                    span Hi
                    span , 
                    span I
                    span '
                    span m Ben Remnant
                .profession Front & Back End Web Developer
                
                a.website.ra(href="http://berd.co.nz/" target="_blank" style="color: white;") berd.co.nz
                .contact-seperator1
                .phone 027 203 4418
                .contact-seperator2
                .email ben.remnant@gmail.com
                .contact-seperator3
                a.linkedin.ra(href="https://www.linkedin.com/in/ben-remnant/" target="_blank" style="color: white;") linkedin.com/in/ben-remnant
                
            .summary
                span Hi, I'm Ben Remnant. I live in Upper Hutt in the Wellington Region. 
                span I am currently a self employed, full stack web developer. 
                span I am self motivated & passionate about all things development. 
                span In my spare time I build and program IoT devices with arduino microcontrollers. 
                br
                br
                span Over the past few years I have been freelancing. 
                span My first project was designing and developing Danfoss NZ's partner collaboration website. 
                span This website has been the source of the majority of my income as it is the biggest project I have done. 
                span Danfoss NZ still request new features and employ me to maintain the server and the website.
            
            .column-container

                .column-left
                  .column-inner
                    .column-title Strengths
                    .skill
                      .bullet
                      span Graphical Design
                    .skill
                      .bullet
                      span Functional Design
                    .skill
                      .bullet
                      span User Friendly Design
                    .skill
                      .bullet
                      span Client Communication
                    .skill
                      .bullet
                      span Application Engineering
                    .skill
                      .bullet
                      span Teamwork
                    .skill
                      .bullet
                      span Creativity

                  .column-inner
                    .column-title Software Development
                    .skill
                      span.skill-text Python
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Java
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text C#
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text C / C++
                      .star
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Git
                      .star
                      .star
                      .star.activated
                      .star.activated
                      .star.activated

                  .column-inner
                    .column-title Web Development
                    .skill
                      span.skill-text HTML / HTML5
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text CSS / CSS3
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text JavaScript / jQuery
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Node.js / NPM
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Express.js / Pug
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text WordPress
                      .star
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text PHP
                      .star
                      .star
                      .star.activated
                      .star.activated
                      .star.activated

                  .column-inner
                    .column-title Databases
                    .skill
                      span.skill-text MySQL
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text PostgreSQL
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Firebase (NoSQL)
                      .star
                      .star
                      .star.activated
                      .star.activated
                      .star.activated
                    .skill
                      span.skill-text Redis
                      .star
                      .star
                      .star
                      .star.activated
                      .star.activated

                .column-right
                  .column-inner(style="padding-bottom: 0px;")
                    .column-title(style="margin-bottom: 15px;") Professional Experience

                    .exp
                      .exp-job Danfoss NZ Collaboration Website
                      .exp-date 
                        span February 2016 <span style="color: var(--main-color); font-weight: 1000;">-</span> Present
                      .exp-link 
                        a.ra(href="http://berd.co.nz/portfolio/dinz" target="_blank") berd.co.nz/portfolio/dinz
                      .exp-title Full Stack Developer
                      .exp-content
                        .bullet
                        span First big scale project 
                      .exp-content
                        .bullet
                        span Large flow of sensitive information
                      .exp-content
                        .bullet
                        span Secure user authentication
                      .exp-content
                        .bullet
                        span Currently maintaining & upgrading

                    .exp
                      .exp-job HTML Email for Z Energy
                      .exp-date November 2018 <span style="color: var(--main-color); font-weight: 1000;">-</span> December 2018
                      .exp-link 
                        a.ra(href="http://berd.co.nz/portfolio/zenergy" target="_blank") berd.co.nz/portfolio/zenergy
                      .exp-title HTML/CSS Developer
                      .exp-content
                        .bullet
                        span Responsive newsletter email
                      .exp-content
                        .bullet
                        span Working with a team of designers

                    .exp
                      .exp-job Advertising Banners for The NZ Herald
                      .exp-date March 2019
                      .exp-link 
                        a.ra(href="http://berd.co.nz/portfolio/nzherald" target="_blank") berd.co.nz/portfolio/nzherald
                      .exp-title HTML/CSS/JavaScript Developer
                      .exp-content
                        .bullet
                        span An array of digital advertising banners
                      .exp-content
                        .bullet
                        span Working with a team of designers

                  .column-inner
                    .column-title(style="margin-bottom: 15px;") Personal Experience

                    .exp
                      .exp-job BERD Portfolio
                      .exp-date October 2017 <span style="color: var(--main-color); font-weight: 1000;">-</span> Present
                      .exp-link 
                        a.ra(href="http://berd.co.nz/portfolio/berd" target="_blank") berd.co.nz/portfolio/berd
                      .exp-title Full Stack Developer
                      .exp-content
                        .bullet
                        span Easy to use, functional and informative
                      .exp-content
                        .bullet
                        span Ongoing development

                    .exp
                      .exp-job About A House
                      .exp-date June 2018 <span style="color: var(--main-color); font-weight: 1000;">-</span> Present
                      .exp-link 
                        a.ra(href="http://berd.co.nz/portfolio/aah" target="_blank") berd.co.nz/portfolio/aah
                      .exp-title Full Stack Developer
                      .exp-content
                        .bullet
                        span Personal project to monitor your home
                      .exp-content
                        .bullet
                        span Currently in the research phase
                      .exp-content
                        .bullet
                        span Linking my love for electronics with my love of programming
                        
        page
            .column-container(style="padding-top: 40px;")
            
                .column-left(style="width: calc(50% - 5px);")
                  .column-inner
                    .column-title Professional References
                    
                    .reference-name Stephen Broadbent
                    .reference-job Regional Sales Manager NZ
                    .reference-company Danfoss Drives NZ Ltd
                    .reference-phone 021 193 4618
                    .reference-email broadbent_s@danfoss.com
                    
                    br
                    
                    .reference-name Brett Archibald
                    .reference-job Owner / Manager
                    .reference-company Liquorland, Upper Hutt
                    .reference-phone 027 483 1590
                    .reference-email brettcarchibald@gmail.com
                    
                    br
                    
                    .reference-name Camden Mitchell
                    .reference-job Manager
                    .reference-company Hell Pizza, Upper Hutt
                    .reference-phone 020 413 75328
                    .reference-email camden.mitchell@gmail.com
                    
                .column-right(style="width: calc(50% - 5px); margin-left: 10px;")
                  .column-inner
                    .column-title Character References
                    
                    .reference-name Aaron Temperton
                    .reference-job General Manager - Operations
                    .reference-company KiwiRail Head Office, Auckland
                    .reference-phone 021 325 797
                    .reference-email aaron.temperton@kiwirail.co.nz
                    
                    br
                    
                    .reference-name Debbie Archibald
                    .reference-job Investment Operations Manager 
                    .reference-company AMP Capital Investors (NZ) Ltd, Wellington
                    .reference-phone 029 494 2122
                    .reference-email deborah.archibald@ampcapital.co.nz 
