@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Jockey+One);

:root {
  --b1: #7DC5FA;
  --b2: #7DC5FA;
  --g1: #777777;
  --g2: #8F8F8F;
  --g3: rgba(0,0,0,0.3);
}

body {
  background: #FFFFFF;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  color: var(--g2);
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.text-color-b1 {
    color: var(--b1);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.phone-only {
    display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--g2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--b1);
}

@media only screen and (max-width: 600px) {

    .phone-only {
        display: block;
    }
    
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}