extends portfolio-item

block portfolio-content

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.nav-title-color A
                    span(style="font-size: 50px; color: var(--g2);") bout 
                    span.nav-title-color A 
                    span.nav-title-color H
                    span(style="font-size: 50px; color: var(--g2);") ouse
                            
                .item-stats
                    span Project Type
                    span : 
                    span.nav-title-color(style="float: right;") Data Collection Website
                    br
                    span Project Nature
                    span : 
                    span.nav-title-color(style="float: right;") Personal 
                    br
                    span Languages
                    span : 
                    span.nav-title-color(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment
                    span : 
                    span.nav-title-color(style="float: right;") Node.js 
                    br
                    spa Database
                    span : 
                    span.nav-title-color(style="float: right;") MySQL 
                     
                .item-description-info
                    span.nav-title-color(style="font-size: 0.9em; font-weight: 500;") The following text changes for each image
                .item-description
                    span.desc 
                    
                        
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-link-icon-text Back
                            
                    .item-icons-right
                        .item-icon
                            .glyphicon.glyphicon-globe
                            .item-link-icon-text Live Link
                            
                        .item-icon(style="margin-left: 20px;")
                            .item-github-icon
                            .item-link-icon-text Github
                    
            .item-inner-right
                .item-image(style="background-position: top;")
                
                .item-image-nav
                   .item-image-nav-inner
                     .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                     .item-image-nav-dot(id="d1")
                     .item-image-nav-dot(id="d2")
                     .item-image-nav-dot(id="d3")
                     .item-image-nav-dot(id="d4")
                     .item-image-nav-dot(id="d5")
                     .item-image-nav-dot(id="d6")
                     .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                     
    script.
        
        var textArray = [
            'Text Description 1',
            'Text Description 2',
            'Text Description 3',
            'Text Description 4',
            'Text Description 5',
            'Text Description 6'
        ];
        var imageURL = 'aah';
        
        var maxImages = 6;
        var currentImage = 1;
        var hashString = window.location.hash.replace('#','');
        if(hashString != "") {
            var currentImage = Number(hashString);
        }
        $(".item-image").css('background-image',"url('/images/portfolio/"+imageURL+currentImage+".jpg')");
        $("#d"+currentImage).addClass('selected');
        changeText();
        
        $('.item-image-nav-dot').click(function() {
            jumpToImage($(this).attr('id').replace('d', ''));
        });
        
        function nextImage() {
            if(currentImage==maxImages) return;
            $("#d"+currentImage).removeClass('selected');
            currentImage++;
            window.location.hash = currentImage;
            $("#d"+currentImage).addClass('selected');
            $(".item-image").css('background-image',"url('/images/portfolio/"+imageURL+currentImage+".jpg')");
            changeText();
        }
        function prevImage() {
            if(currentImage==1) return;
            $("#d"+currentImage).removeClass('selected');
            currentImage--;
            window.location.hash = currentImage;
            $("#d"+currentImage).addClass('selected');
            $(".item-image").css('background-image',"url('/images/portfolio/"+imageURL+currentImage+".jpg')");
            changeText();
        }
        function jumpToImage(imageNum) {
            $("#d"+currentImage).removeClass('selected');
            currentImage = imageNum;
            window.location.hash = currentImage;
            $("#d"+currentImage).addClass('selected');
            $(".item-image").css('background-image',"url('/images/portfolio/berd"+currentImage+".jpg')");
            changeText();
        }
        function changeText() {
            $('.desc').html(textArray[currentImage-1]);
        }
        
        
        
                     
        
        
        
        
        
        