extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.text-color-b1 BERD 
                    span(style="font-size: 50px; color: var(--g2);") Portfolio
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") Portfolio Website
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Personal 
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment
                    span : 
                    span.text-color-b1(style="float: right;") Node.js  
                     
                .item-description-title
                .item-description
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        a.item-icon(href="/" target="_blank")
                            .glyphicon.glyphicon-globe
                            .item-icon-text Live Link
                            
                        a.item-icon(href="https://github.com/remnanbenj/portfolio/" target="_blank" style="margin-left: 20px;")
                            .item-github-icon
                            .item-icon-text Github
                    
                    
            .item-inner-right
            
                .item-image(style="background-color: #FFFFFF;")
                
                .item-image-nav.noselect
                    .item-image-nav-inner
                        .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                        .item-image-nav-dot(id="d0")
                        .item-image-nav-dot(id="d1")
                        .item-image-nav-dot(id="d2")
                        .item-image-nav-dot(id="d3")
                        .item-image-nav-dot(id="d4")
                        .item-image-nav-dot(id="d5")
                        .item-image-nav-dot(id="d6")
                        .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                        
                    .item-image-nav-info &nbsp;
                    
                    .item-image-nav-screensize
                        .glyphicon.glyphicon-menu-up
                        .item-monitor-icon.selected
                        .glyphicon.glyphicon-phone
                        .glyphicon.glyphicon-menu-down
                        
                        
            .item-inner-bottom 
            
                .item-description-title
                .item-description
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") Portfolio Website
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Personal 
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment
                    span : 
                    span.text-color-b1(style="float: right;") Node.js 
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        a.item-icon(href="/" target="_blank")
                            .glyphicon.glyphicon-globe
                            .item-icon-text Live Link
                            
                        a.item-icon(href="https://github.com/remnanbenj/portfolio/" target="_blank" style="margin-left: 20px;")
                            .item-github-icon
                            .item-icon-text Github 
                     
    script.
        
        // Changeable variables
        var imageURL = 'berd';
        var maxImages = 6;
        var titleArray = [
            'Introduction',
            'Front Page Greeting',
            'Short Bio',
            'Portfolio Cover',
            'Portfolio Projects',
            'Project',
            'Contact Form'
        ];
        var textArray = [
            'Text Description 0',
            "I wanted to keep the functional design as simple as possible for my portfolio website. This simplicity helps the website be easily accessible and responsive for a variaty of devices.",
            'If you \'Scroll to read more\' on the front page you will get a short bio about me (Ben Remnant) and a few other things like how I came up with the name <span style="color: var(--b1);">BERD</span>.',
            'This portfolio cover page keeps on with the simple functional design. Just scroll down to view the projects.',
            'Keeping the project\'s navigation simple is a must so the user doesn\'t get lost. When there are more than six items, a second page of projects will be generated and a navigation bar will appear at the bottom of the page. Much like the image navigation bar on this page.',
            'Clicking on one of the items in the portfolio will take you to its unique page just like this one. I show only the most important information to try not to clutter the screen. For usability the image gallery scrolls with the mouse\'s scrollwheel and keyboard\'s left and right key. Keeping the captions here short is the most difficult part. If the caption is too long, I\'ll lose the users attention.',
            'One single contact option allows me to have one point of initial contact and doesn\'t flood the user with too many options.'
        ];
        var phoneImageAmounts = [
            1,
            1,
            3,
            1,
            1,
            2,
            2
        ];
        
    script(src="/javascripts/portfolioItemImageScroll.js").
        
        
        