extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.text-color-b1 DINZ 
                    span(style="font-size: 50px; color: var(--g2);") Collaboration
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") Collaboration Website
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Full Stack Dev
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment
                    span : 
                    span.text-color-b1(style="float: right;") Node.js 
                    br
                    span Database
                    span : 
                    span.text-color-b1(style="float: right;") PostgreSQL 
                     
                .item-description-title
                .item-description
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        .item-icon(style="color: #FF5959; cursor: default;")
                            .glyphicon.glyphicon-globe
                            .item-icon-text 
                                span Live Link
                                br
                                span.item-icon-text-unavailable Unavailable
                            
                        .item-icon(style="color: #FF5959; margin-left: 20px; cursor: default;")
                            .item-github-icon(style="background-image: url('/images/githubRed.jpg');")
                            .item-icon-text 
                                span Github
                                br
                                span.item-icon-text-unavailable Unavailable
                    
            .item-inner-right
            
                .item-image(style="background-color: #DF000E;")
                
                .item-image-nav.noselect
                    .item-image-nav-inner
                        .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                        .item-image-nav-dot(id="d0")
                        .item-image-nav-dot(id="d1")
                        .item-image-nav-dot(id="d2")
                        .item-image-nav-dot(id="d3")
                        .item-image-nav-dot(id="d4")
                        .item-image-nav-dot(id="d5")
                        .item-image-nav-dot(id="d6")
                        .item-image-nav-dot(id="d7")
                        .item-image-nav-dot(id="d8")
                        .item-image-nav-dot(id="d9")
                        .item-image-nav-dot(id="d10")
                        .item-image-nav-dot(id="d11")
                        .item-image-nav-dot(id="d12")
                        .item-image-nav-dot(id="d13")
                        .item-image-nav-dot(id="d14")
                        .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                        
                    .item-image-nav-info &nbsp;
                    
                    .item-image-nav-screensize
                        .glyphicon.glyphicon-menu-up
                        .item-monitor-icon.selected
                        .glyphicon.glyphicon-phone
                        .glyphicon.glyphicon-menu-down
                        
                        
            .item-inner-bottom 
            
                .item-description-title
                .item-description
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") Collaboration Website
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Full Stack Dev
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment
                    span : 
                    span.text-color-b1(style="float: right;") Node.js 
                    br
                    span Database
                    span : 
                    span.text-color-b1(style="float: right;") PostgreSQL 
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        .item-icon(style="color: #FF5959; cursor: default;")
                            .glyphicon.glyphicon-globe
                            .item-icon-text 
                                span Live Link
                                br
                                span.item-icon-text-unavailable Unavailable
                            
                        .item-icon(style="color: #FF5959; margin-left: 20px; cursor: default;")
                            .item-github-icon(style="background-image: url('/images/githubRed.jpg');")
                            .item-icon-text 
                                span Github
                                br
                                span.item-icon-text-unavailable Unavailable
                     
    script.
    
        // ====Page Setup====
        
        var imageURL = 'dinz';
        var maxImages = 14;
        var titleArray = [
            'Introduction',
            'Login',
            'Home',
            'Menu',
            'Stock',
            'Stock: Search Options',
            'Booking Demo Equipment: Dates',
            'Booking Demo Equipment: Equipment',
            'Booking Demo Equipment: Summary',
            'Year Planner',
            'Virtual Drive Training Rig',
            'Reports',
            'Downloads',
            'Admin',
            'Admin: User'
        ];
        var textArray = [
            'This project started out as a simple stock page for Danfoss NZ and their partners to collaborate. It has since grown into the largest scale project I\'ve worked on.',
            'Because of the sensitive data involved the website is password protected with user logins. Soon I will setup a test login account filled with fake data for the public to view the website.',
            'The home page shows important information relevant to the current user. The buttons at the bottom of this page allow the users to let me know directly about their issues with the website.',
            'The menu ',
            'The stock page was the first ',
            'Text Description 5',
            'Text Description 6',
            'Text Description 7',
            'Text Description 8',
            'Text Description 9',
            'Text Description 10',
            'Text Description 11',
            'Text Description 12',
            'Text Description 13',
            'Text Description 14'
        ];
        var phoneImageAmounts = [
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            2,
            2,
            1,
            1,
            2,
            1
        ];
        
    script(src="/javascripts/portfolioItemImageScroll.js").
        
        
        
                     
        
        