extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.text-color-b1 DINZ 
                    span(style="font-size: 50px; color: var(--g2);") Collaboration
                            
                .item-stats
                    span Project Type: 
                    span.text-color-b1(style="float: right;") Collaboration Website
                    br
                    span Project Nature: 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Full Stack Dev
                    br
                    span Languages: 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment: 
                    span.text-color-b1(style="float: right;") Node.js 
                    br
                    span Database: 
                    span.text-color-b1(style="float: right;") PostgreSQL 
                     
                .item-description-title
                .item-description
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        .item-icon(style="color: #FF5959; cursor: default;")
                            .glyphicon.glyphicon-globe
                            .item-icon-text 
                                span Live Link
                                br
                                span.item-icon-text-unavailable Unavailable
                            
                        .item-icon(style="color: #FF5959; margin-left: 20px; cursor: default;")
                            .item-github-icon(style="background-image: url('/images/githubRed.jpg');")
                            .item-icon-text 
                                span Github
                                br
                                span.item-icon-text-unavailable Unavailable
                    
            .item-inner-right
            
                .item-image(style="background-color: #DF000E;")
                
                .item-image-nav.noselect
                    .item-image-nav-inner
                        .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                        .item-image-nav-dot(id="d0")
                        .item-image-nav-dot(id="d1")
                        .item-image-nav-dot(id="d2")
                        .item-image-nav-dot(id="d3")
                        .item-image-nav-dot(id="d4")
                        .item-image-nav-dot(id="d5")
                        .item-image-nav-dot(id="d6")
                        .item-image-nav-dot(id="d7")
                        .item-image-nav-dot(id="d8")
                        .item-image-nav-dot(id="d9")
                        .item-image-nav-dot(id="d10")
                        .item-image-nav-dot(id="d11")
                        .item-image-nav-dot(id="d12")
                        .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                        
                    .item-image-nav-info &nbsp;
                    
                    .item-image-nav-screensize
                        .glyphicon.glyphicon-menu-up
                        .item-monitor-icon.selected
                        .glyphicon.glyphicon-phone
                        .glyphicon.glyphicon-menu-down
                        
                        
            .item-inner-bottom 
            
                .item-description-title
                .item-description
                            
                .item-stats
                    span Project Type: 
                    span.text-color-b1(style="float: right;") Collaboration Website
                    br
                    span Project Nature: 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Full Stack Dev
                    br
                    span Languages: 
                    span.text-color-b1(style="float: right;") HTML, CSS, JavaScript
                    br
                    span Run Time Enviroment: 
                    span.text-color-b1(style="float: right;") Node.js 
                    br
                    span Database: 
                    span.text-color-b1(style="float: right;") PostgreSQL 
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        .item-icon(style="color: #FF5959; cursor: default;")
                            .glyphicon.glyphicon-globe
                            .item-icon-text 
                                span Live Link
                                br
                                span.item-icon-text-unavailable Unavailable
                            
                        .item-icon(style="color: #FF5959; margin-left: 20px; cursor: default;")
                            .item-github-icon(style="background-image: url('/images/githubRed.jpg');")
                            .item-icon-text 
                                span Github
                                br
                                span.item-icon-text-unavailable Unavailable
                     
    script.
    
        // ====Page Setup====
        
        var imageURL = 'dinz';
        var maxImages = 12;
        var titleArray = [
            'Introduction',
            'Login',
            'Home',
            'Menu',
            'Stock',
            'Stock: Search Options',
            'Booking Demo Equipment: Dates',
            'Booking Demo Equipment: Equipment',
            'Booking Demo Equipment: Summary',
            'Year Planner',
            'Virtual Drive Training Rig',
            'Downloads',
            'Admin'
        ];
        var textArray = [
            'This project started out as a simple stock page for Danfoss NZ and their partners to collaborate. It has since grown into the largest scale project I\'ve worked on.',
            'Because of the sensitive data involved, the website is password protected with user logins. Soon I will setup a test login account filled with fake data for the public to view the website.',
            'The home page shows important information relevant to the current user. The buttons at the bottom of this page allow the users to let me know directly about their issues with the website.',
            'Clicking the <span style="color: var(--b1); font-size: 15px;" class="glyphicon glyphicon-menu-hamburger"></span> button in the navbar will open this dropdown menu. Collapsible submenus for further accessability.',
            'The stock page was the first page created for this website. A lot of information is needed to describe the products so hovers are used to display more information.',
            'Clicking the <span style="color: var(--b1); font-size: 15px;" class="glyphicon glyphicon-search"></span> near the top of most pages will dropdown a similar search box like this. Each with unique searchable options depending on the context and sometimes depending on you\'re security level.',
            'I also created a booking system for the Demo Equipment that Danfoss NZ leant to their partners. Here you can choose the date range you want to book the gear for.',
            'A search box is available to help when choosing equipment. As items are added they are shown in the summary box in the bottom right of the screen.',
            'After selecting the date range and equipment you are given a final summary. Clicking \'Finish\' here sends out an automated email to the people that distribute the demo gear.',
            'As the website evolved, Danfoss NZ wanted a way to digitally track the years events. Purple and pink are holidays, light blue is a Danfoss employee\'s travel plans and yellow are marketing events.',
            'A booking system for a demo product that would have a live camera and be controllable though the web for training purposes. Live demo to be setup.',
            'A downloads directly that acts as a hub of important information. Files in the public folder do not require a login to access. This is so Danfoss can link useful documents to customers without needing them to have an account.',
            'Only accounts with admin privilege can view this part of the website. The admin area allows you to see who is logged in or the last time they were online. The subview on the left has some additional admin features.'
        ];
        var phoneImageAmounts = [
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            1,
            2,
            2,
            1,
            2,
            1
        ];
        
    script(src="/javascripts/portfolioItemImageScroll.js").
        
        
        
                     
        
        