extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.text-color-b1 FANTASY 
                    span(style="font-size: 50px; color: var(--g2);") RPG
                            
                .item-stats
                    span Project Type: 
                    span.text-color-b1(style="float: right;") Mobile Game
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Developer
                    br
                    span Languages: 
                    span.text-color-b1(style="float: right;") C#
                    br
                    span Dev Software: 
                    span.text-color-b1(style="float: right;") Unity, Blender, Photoshop
                    br
                    span Database: 
                    span.text-color-b1(style="float: right;") Firebase (Google)
                     
                .item-description-title
                .item-description
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                    
            .item-inner-right
            
                .item-image(style="background-color: #444444;")
                
                .item-image-nav.noselect
                    .item-image-nav-inner
                        .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                        .item-image-nav-dot(id="d0")
                        .item-image-nav-dot(id="d1")
                        .item-image-nav-dot(id="d2")
                        .item-image-nav-dot(id="d3")
                        .item-image-nav-dot(id="d4")
                        .item-image-nav-dot(id="d5")
                        .item-image-nav-dot(id="d6")
                        .item-image-nav-dot(id="d7")
                        .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                        
                    .item-image-nav-info &nbsp;
                        
                        
            .item-inner-bottom 
            
                .item-description-title
                .item-description
                            
                .item-stats
                    span Project Type: 
                    span.text-color-b1(style="float: right;") Mobile Game
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Designer & Developer
                    br
                    span Languages: 
                    span.text-color-b1(style="float: right;") C#
                    br
                    span Dev Software: 
                    span.text-color-b1(style="float: right;") Unity, Blender, Photoshop
                    br
                    span Database: 
                    span.text-color-b1(style="float: right;") Firebase (Google)
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                     
    script.
    
        // ====Page Setup====
        
        var imageURL = 'plastic';
        var maxImages = 7;
        var titleArray = [
            'Introduction',
            'Main Menu',
            'Main Menu: New Game',
            'In Game',
            'Exploration',
            'Gear Up',
            'Loot',
            'Questing'
        ];
        var textArray = [
            'FANTASY RPG is an open world, story driven, turn based, role playing game. Full of swords, spells and all sorts of creatures. Help discover the mysterious phenomenon causing the people of The Kingdom to become violent fanatics. Or perhaps you prefer to train in the Gladiator Pits and fight your way to the top in The Arena to prove your dominance in battle. Maybe you prefer spelunking in caves looking for ancient aftifacts of great power. The path you take to greatness is up to you in FANTASY RPG.',
            'The main menu allowing you to start a new game or load a previous one. The games first chapter will be completely free. Additional chapters will be added as paid DLC after launch.',
            'When starting a new game you can choose which class you wish to play. Additional classes will be added as free DLC after launch.',
            'Inspired by popular tabletop board games like DnD and Gloomhaven, FANTASY RPG follows a grid like movement & combat system.',
            'Exploring the world opens up many additional paths to take. Find new locations, quests, enemies and loot sprawled throughout FANTASY RPGs rich open world.',
            'Find all sorts of equipment throughout FANTASY RPG to help improve your character. Full sets that provide extra bonuses. Many Legendary items each with their own unique effect. The colors of each piece of equipment are fully customisable so you can slash goblins and hurl fireballs in style.',
            'Loot can be obtained in many ways. Chests filled to the brim in dungeons long forgotten. Slaying great foes who weild superior weapons and armor. Completing quests chains, earning your loot. Even finding a sword stuck in a rock and pulling it from its prison.',
            'Completing quests yeild many unique rewards. Riches, equipment, expeirence, honor and even simply proof of skill.'
        ];
        
    script(src="/javascripts/portfolioItemImageScroll.js").
        
        
        