extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')
    
    block portfolio-content
        
    .nav
        .nav-title BERD
        a.nav-button(href="/") Bio
        a.nav-button-selected(href="/portfolio#1") Portfolio
        a.nav-button(href="/contact") Contact
        a.nav-icon.github(href="https://github.com/remnanbenj/" target="_blank")
        a.nav-icon.linkedin(href="https://www.linkedin.com/in/ben-remnant/" target="_blank")
