extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/portfolio-item.css')

    .item-container
        .item-inner
            .item-inner-left
                        
                .item-maintext 
                    span.text-color-b1 Z Energy 
                    span(style="font-size: 50px; color: var(--g2);") Emails
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") HTML Email
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Developer
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS 
                     
                .item-description-title
                .item-description
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        a.item-icon(href="/zenergy.html" target="_blank")
                            .glyphicon.glyphicon-globe
                            .item-icon-text Live Link
                            
                        a.item-icon(href="https://github.com/remnanbenj/zenergy-html-email/" target="_blank" style="margin-left: 20px;")
                            .item-github-icon
                            .item-icon-text Github
                    
            .item-inner-right
            
                .item-image(style="background-position: top;")
                
                .item-image-nav.noselect
                    .item-image-nav-inner
                        .glyphicon.glyphicon-menu-left(onclick="prevImage()")
                        .item-image-nav-dot(id="d0")
                        .item-image-nav-dot(id="d1")
                        .item-image-nav-dot(id="d2")
                        .item-image-nav-dot(id="d3")
                        .item-image-nav-dot(id="d4")
                        .item-image-nav-dot(id="d5")
                        .item-image-nav-dot(id="d6")
                        .glyphicon.glyphicon-menu-right(onclick="nextImage()")
                        
                        
            .item-inner-bottom 
            
                .item-description-title
                .item-description
                            
                .item-stats
                    span Project Type
                    span : 
                    span.text-color-b1(style="float: right;") HTML Email
                    br
                    span Project Nature
                    span : 
                    span.text-color-b1(style="float: right;") Commissioned 
                    br
                    span Position: 
                    span.text-color-b1(style="float: right;") Developer
                    br
                    span Languages
                    span : 
                    span.text-color-b1(style="float: right;") HTML, CSS 
                    
                .item-icons
                    .item-icons-left
                        a.item-icon(href="/portfolio#1")
                            .glyphicon.glyphicon-circle-arrow-left
                            .item-icon-text Back
                            
                    .item-icons-right
                        a.item-icon(href="/zenergy.html" target="_blank")
                            .glyphicon.glyphicon-globe
                            .item-icon-text Live Link
                            
                        a.item-icon(href="https://github.com/remnanbenj/zenergy-html-email/" target="_blank" style="margin-left: 20px;")
                            .item-github-icon
                            .item-icon-text Github
                     
    script.
    
        // ====Page Setup====
        
        var imageURL = 'zenergy';
        var maxImages = 6;
        var titleArray = [
            'Introduction',
            'Title1',
            'Title2',
            'Title3',
            'Title4',
            'Title5',
            'Title6'
        ];
        var textArray = [
            'Intro',
            'Text Description 1',
            'Text Description 2',
            'Text Description 3',
            'Text Description 4',
            'Text Description 5',
            'Text Description 6'
        ];
        
    script(src="/javascripts/portfolioItemImageScroll.js").
        
        
        
                     
        
        
        
        